<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_user_path(current_user) %> |
<%= link_to 'Back', users_path %>

hhahahahhahaa

Place profile image

All details about this user

<% if current_user %>
	Hello <%= current_user.name %>
<% end %>
