.row {
  display: block;
  position: relative;
}

.fb-button {
	position: relative;
	margin-top: 10px;
}
.actions {
	position: relative;
	margin-top: 10px;
}

h2 {
	font-weight: bolder;
}

.btn {
  border-radius: 5px;
}

.btn {
    padding: 10px 20px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #3b5998;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #293e6a;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.fb, a:link, a:visited {
  text-decoration: underline;
  color:white;
}