<a href="javascript:history.back()">Go Back</a><br>

<%= @categories.name %><br>

<%= button_to "Edit", edit_category_path, :method => :get %>
<%= button_to "Delete", @categories, :method => :delete %>

<br><%= link_to 'Add a Product', new_product_path %><br>