<h1> Update your product. </h1>
<%= form_for @products, url: category_product_path do |f| %>
	<%= f.text_field :name, placeholder: 'Name' %><br> 
	<%= f.text_field :description, placeholder: 'Description' %><br>
	<%= f.submit 'Update Product' %>
<% end %>
